# WordPress.gitignore
# https://github.com/github/gitignore/blob/master/WordPress.gitignore

# ignore everything in the root except the "wp-content" directory.
!homepage/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
homepage/wp-content/*
!homepage/wp-content/mu-plugins/
!homepage/wp-content/plugins/
!homepage/wp-content/themes/

# ignore these plugins
homepage/wp-content/plugins/hello.php

# ignore specific themes
homepage/wp-content/themes/twenty*/

# ignore node dependency directories
homepage/node_modules/

# ignore log files and databases
homepage/*.log
homepage/*.sql
homepage/*.sqlite

#######
# DEV #
#######
vendor
homepage/secrets.yaml